@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.text-outline {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: #ffffff;
}
.text-outline-small {
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke-width: 0.8px;
	-webkit-text-stroke-color: #ffffff;
}

.sidebar {
	position: fixed;
	width: 125px;
	z-index: 9999;
	height: 100%;
	right: 0;
	top: 0;
	border-left: 1px solid rgba(0, 0, 0, 0.1);
	font-size: 12px;
	line-height: 13px;
	padding-top: 12.345679012345679vh;
	background-color: white;
}

.sidebar nav ul li a {
	display: block;
	margin: 0 auto;
	padding: 15px 13px;
	position: relative;
	color: rgba(0, 0, 0, 0.3);
}

.responsive-header {
	font-size: clamp(1rem, 10vw, 9rem);
}

.responsive-header-small {
	font-size: clamp(1rem, 10vw, 5rem);
}

.grainy {
	background-image: url('/public/grain.jpeg');
	background-blend-mode: multiply;
	background-size: cover;
	background-color: rgba(0, 0, 0, 0.4);
}
